/* Canvas */
* {
    padding: 0;
    margin: 0;
}
canvas {
    position: relative;
    box-shadow: #100108 20px 20px 40px;
    margin: auto;
}

.gameOver {
    border: 5px solid red;
    box-shadow: red 20px 10px 50px;
}

.bold {
    border: 3px solid white;
}
.click {
    border: 2px solid white;
}
.header {
    width: 100%;
    height: 100vh;
    background-image:url(photo.jpg);
    display: flex;
}


/* Bảng setting */
.containTable {
    position:relative;
}
table, td {
    border: 1px solid #821f02;
    border-collapse: collapse;
}
button + button {
    margin-bottom: 10px;
}
.table1 {
    position:absolute;
    width: 350px;
    border: 2px solid #821f02;
    left: 3vw;
    top: 18vh;
}
#tabble1-tr1 {
    text-align: center;
}
.table1-th {
height: 35px;
background-color: #2f0c0a;
color: #d2b088;
font-size: large;
}
.table1-tr {
background-color: #100108;
}
tr:hover {
background-color: #c0834f;
}
button {
background-color: #d99101;
padding: 6px;
border-radius: 20px;
width: 100px;
font-size:medium;
cursor: pointer;
color:#2f0c0a;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
    background-color: #821f02;
    color: #f9e5ad;
}
td {
padding: 10px;
}
.highScores {
background-color: #821f02;
color: #f9e5ad;
border: 1px solid #e34514;
font-size: large;
text-align: center;
}
.nameTag {
    width: 90px;
    color: #f9e5ad;
    font-size: large;
}
.btnControl {
    text-align: center;
}
.unPress:hover {
    background-color: #d99101;
    color:#2f0c0a ;
}
/* menu */
.containTable2 {
    position: absolute;
    width: 350px;
    left: 73vw;
    top: 20vh;
}
.table2-tr {
    background-color: #fee1a9;
    color: #100108;
    cursor: pointer;
}
.table2-th {
    background-color: #821f02;
    height: 35px;
    color: #f9e5ad;
}
.table2-tr1 {
    background-color: #1e0508;
    color: #f9e5ad;
    text-align: center;
}
.table2-trlast {
    background-color: #821f02;
    text-align: center;
}
.table2-tr:hover {
    background-color: #e19200;
}
.d-none {
    display: none;
}
input {
    width: 95%;
    height: 25px;;
}
.table2-stt {
    width: 10px;
}
.table2-name {
    width: 200px;
}
.checked {
    background-color: #e1880c;
}
.btnMenu {
    border:1px solid #f9e5ad;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* modal */
.modal {
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    display: none;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal__body {
    background-color: #fffffe;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}
.close {
    background-color: transparent;
    border: none;
    font-size:x-large;
    width: 10px;
    margin-top: -25px;
}
.close:hover {
    background-color: transparent;
    opacity: 0.6;
}
.colorBoard {
    width: 500px;
    height: 500px;
    padding: 20px;
}
.colorBoard__contten {
    width: 520px;
    height: 450px;
    overflow: hidden overlay;
    overscroll-behavior: contain;
    will-change: scroll-position;   
    position: relative; 
}

.colorBoard__contten::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
  
.colorBoard__contten::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
  
.colorBoard__contten::-webkit-scrollbar-thumb {
    background-color: #7200a1;
    border-radius: 4px;
}
.colorBoard__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.colorBoard__body__name {
    margin-bottom: 10px;
}
.colorBoard__body__item {
    margin: 0 12px 15px 12px;
}

.colorBoard__body__item__board {
    width: 100px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.overlayColor {
    position: absolute;
    width: 100px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    display:none;
}
.colorBoard__body__item__board:hover .overlayColor {
    display: block;
}
.colorBoard__body__item__board:hover .btn {
    display: block;
}

.btn {
    color: white;
    font-size:x-small;
    border-color: white;
    margin: 13px auto 0px auto;
    height: 20px;
    width: 80%;
    padding: 0px;
    display: none;
    z-index: 1;

}
.btnApply {
    background-color: #7200a1;
    border: 1px solid #7200a1;
}
.btnPreview {
    background-color: rgba(0, 0, 0, 0.3) ;
    border: 1px solid white;
}

.colorBoard__body__list {
    display: flex;
    flex-wrap: wrap;
}
.blackBoard {
    background-image: linear-gradient(to right,#757070,#292929);
}
.brownBoard {
    background-image: linear-gradient(to right,#615050,#250707);
}
.blueBoard {
    background-image: linear-gradient(to right,#83bce6,#2874a4);
}
.violetBoard {
    background-image: linear-gradient(to right,#69469f,#482082);
}
.greenBoard {
    background-image: linear-gradient(to right,#32836f,#175a49);
}
.redBoard {
    background-image: linear-gradient(to right,#b8595e,#902d32);
}
.whiteBoard {
    background-image: linear-gradient(to right,#f1f1f1,#f1f1f1);
}
.cloudBoard {
    background-image: linear-gradient(to right,#eae6dd,#eae6dd);
}
.blueLightBoard {
    background-image: linear-gradient(to right,#d0e4e3,#bcd3d2);
}
.orangeBoard {
    background-image: linear-gradient(to right,#f1ac77,#f68630);
}
.purpleLightBoard {
    background-image: linear-gradient(to right,#f4ddd7,#f4ddd7);
}